{% extends 'base.html' %}

{% block title %}Acerca de Nosotros - HOKO BIKES{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center mb-4">Acerca de Nosotros</h1>
    <div class="row align-items-center mb-5">
        <div class="col-md-6">
            <img src="https://cdn.pixabay.com/photo/2020/07/11/23/36/meeting-5395615_1280.jpg" class="img-fluid rounded shadow" alt="Equipo HOKO BIKES">
        </div>
        <div class="col-md-6">
            <h2>¿Quiénes Somos?</h2>
            <p>
                En HOKO BIKES, somos apasionados por el ciclismo. Nuestra misión es conectar a personas con una amplia variedad de bicicletas, accesorios y piezas de calidad. Ya sea que seas un principiante o un ciclista experimentado, aquí encontrarás lo que necesitas.
            </p>
            <p>
                Creemos que andar en bicicleta es más que un medio de transporte; es una forma de vida. Por eso, nos esforzamos por ofrecer un espacio donde la comunidad ciclista pueda crecer y compartir su pasión.
            </p>
        </div>
    </div>

    <div class="row align-items-center mb-5">
        <div class="col-md-6 order-md-2">
            <img src="https://images.pexels.com/photos/3184431/pexels-photo-3184431.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="img-fluid rounded shadow" alt="Nuestra Misión">
        </div>
        <div class="col-md-6 order-md-1">
            <h2>Nuestra Misión</h2>
            <p>
                Nuestra misión es simple: proporcionar una plataforma confiable donde los usuarios puedan comprar, vender y conectarse a través del amor por las bicicletas. Creemos en la sostenibilidad y en promover un estilo de vida saludable a través del ciclismo.
            </p>
        </div>
    </div>

    <div class="row text-center">
        <h2>Visítanos y sé parte de nuestra comunidad</h2>
        <p>Estamos aquí para ayudarte a encontrar tu próxima aventura en dos ruedas.</p>
        <img src="https://giant-bicycles.com.ar/cdn/shop/collections/x_road_main_header_1920x.jpg?v=1617718061" class="img-fluid rounded shadow mt-3" alt="Comunidad de ciclistas">
    </div>
</div>
{% endblock %}


